body{
    background-color: #1f1f1f;
}
.contenedor-cuenta{ 
  height: 100%;
}
.contenedor-izquierda{
	height:  100%;
	border-right: 0.2px #DAD4D4 solid;
}
 /* Set gray background color and 100% height */

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .contenedor-izquierda {
   height: auto;
   padding: 15px;
    }
}
.contenedor-usuario-publicacion{
    height: 100%;
    width: 100%;
}
.contenedor-cabeza{
	height: 10%;
	background: #657;
}
.contenedor-cuerpo{
	height: 89%;
}
.img-perfil{
	float: left;
	width: 50px;
	height: 50px; 	
}
.configuracion-usuario{
	display: none;
	/*height:  100%;*/

}
.configuracion-usuario-izquierda{
	background: #132;
/*	height: 100%;*/
}
.configuracion-usuario-derecha{
	background: #953;
	height: 100%
  border-left: 1px solid #000;
}
/**
	inicio del estilo  uscar
*/
.group 			  { 
  margin-top: 45px;
  position:relative; 
  margin-bottom:5px; 
}
.buscar {
    background-color: #1f1f1f;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:90%;
  border:none;
  border-bottom:1px solid #DAD4D4;
}
 .buscar:focus 		{ outline:none; }

.lbuscar {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
 .buscar:focus ~ .lbuscar,  .buscar:valid ~ .lbuscar 		{
  top:-20px;
  font-size:14px;
  color:#2e6da4;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:90%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#2e6da4; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
 .buscar:focus ~ .bar:before,  .buscar:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
 .buscar:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
/**
fin del estilo del input   uscar
*/

/**
  estilo para la configurcion del perfil
*/
.contenedor-perfil{
  position: absolute;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
}
.img-cambir-perfil{
  width: 120px;
  height: 120px;   
}
/**
  menu lateral
*/
/* Icons */
.menu-icon {
    font-size: 20px;
}
/* Hamburger */
.navbar-toggle {
    background-color: transparent;
    border: 1px solid rgba(126, 169, 39, 0.4);
}
.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar + .icon-bar {
    background-color: #7ea927;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
        text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* .....NavBar: Fully showing nav bar..... */

/**
*carga de imagenes
*/
.grupo-imagenes img{
  width: 40px;
  height: 40px;  
}

