body{
    background-color: #2a2a2a;
    color:#c7c7c7;
}
a{
  color: #337ab7;
}
.contenedor-cuenta{ 
  height: 100%;
}
.contenedor-izquierda{
	height:  100%;
	border-right: 0.2px #393939 solid;
}
 /* Set gray background color and 100% height */

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 700px) {
  .contenedor-izquierda {
   height: auto;
   padding: 15px;
   width: 100%;
  }
}
.contenedor-usuario-publicacion{
    height: 96.5%;  
}
.contenedor-cabeza{
	height: 10%;
	background: #657;
}
.contenedor-cuerpo{
	height: 93.5%;
  background-color: #fff;
  overflow-y: scroll;
}

.formulario-publicacion-todo{

  width:60%;  
  height: 65%;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:10% auto;
    background-color: #999;
}
.contenedor-usuario-documento{
 
    display: none;
}
.contenedor-usuario-notificacion{

   display: none;
}
.img-perfil{
	float: left;
	width: 50px;
	height: 50px; 	
}
.configuracion-usuario{
	display: none;
	/*height:  100%;*/

}
.configuracion-usuario-izquierda{
  padding: 0;

/*	height: 100%;*/
}
.configuracion-usuario-derecha{
	height: 100%;
  border-left: 0.2px #393939 solid;
  position: relative;
}
/**
	inicio del estilo  uscar
*/
.group 			  { 
  margin-top: 45px;
  position:relative; 
  margin-bottom:5px; 
}
.buscar {
  background-color: #2a2a2a;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:90%;
  border:none;
  border-bottom:1px solid #2e6da4;
}
 .buscar:focus 		{ outline:none; }

.lbuscar {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
 .buscar:focus ~ .lbuscar,  .buscar:valid ~ .lbuscar 		{
  top:-20px;
  font-size:14px;
  color:#2e6da4;
}

/* BOTTOM BARS ================================= */
.bar 	{ 
   position:relative;
   display:block;
   width:90%;
}
.bar:before, .bar:after 	{
  content:'';
  height:1px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#2e6da4; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
 .buscar:focus ~ .bar:before,  .buscar:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
 .buscar:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
/**
fin del estilo del input   uscar
*/

/**
  estilo para la configurcion del perfil
*/
.contenedor-perfil{
  position: absolute;
  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
}
.img-cambir-perfil{
  width: 120px;
  height: 120px;   
}
/**
  menu lateral
*/
/* Icons */
.menu-icon {
    font-size: 20px;
}
/* Hamburger */
.navbar-toggle {
    background-color: transparent;
    border: 1px solid rgba(126, 169, 39, 0.4);
}
.navbar-toggle .icon-bar,
.navbar-toggle .icon-bar + .icon-bar {
    background-color: #7ea927;
}

.menu-lateral  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-lateral li {
    float: left;
}

 .menu-lateral li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-lateral li a:hover {
    background-color: #393939;
}

/* .....NavBar: Fully showing nav bar..... */

/**
*carga de imagenes
*/
.grupo-imagenes img{
  width: 40px;
  height: 40px;  
}

ul.lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
 
}
ul.lista li {  
    width: 100%;
}
ul.lista li a {
    display: block;
    color: #c7c7c7;
    padding-bottom:20px;
    padding-top:20px;
    text-decoration: none;

}
ul.lista li a:hover {
    background-color: #393939;
    color: white;
}

ul.lista li a:active {
  background-color: #393939;
    color: white;
    border:1px #00aff0 solid;
}


select.combo {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://localhost:8000/img/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

div.configuracion-derecha-numero{

  position: absolute;
  left: -25px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 background-color: #999;

}
div.configuracion-derecha-numero a{
 text-align: center;
 position: absolute;
 font-size: 20px;
 font-weight: bold;
 left: 40%;
 top: 25%;
}
div.paso-paso-publicacion{
  margin-left: 20px;
}

#filedrag
{
  width: 100;
  position: relative;
  font-weight: bold;
  text-align: center;
  padding: 3em 0;
  margin: 3em 0;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: default;     
  height: 100px;
}
#filedrag:hover
{
  color: #337ab7; 
  box-shadow: inset 0 3px 4px #393939;
}
#filedrag-titulo {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
}
input.archivos{   
  position: absolute;
  top: 0;
  width: 100%;
  height:100px;
  filter: alpha(opacity=0); /* internet explorer */
  -khtml-opacity: 0;      /* khtml, version anterior de safari */
  -moz-opacity: 0;       /* firefox, mozilla, netscape */
  opacity: 0;           /* safari, chrome, opera */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*internet explorer 8 */ 
 
}