html,body {
    height:100%;
    font: Segoe UI Local;
}

.login-form{
  width:350px;
  padding:40px 30px;
  background:rgba(235,235,205,0.7);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:50px auto;
}

.notificacion{
	display: none;
	z-index: 3;
	width: 20%;
	position: absolute;
	left: 80%;
	top: 50%;
}

